@media only screen and (max-width: 960px) {
  .mapSize {
    height: 50vh;
    max-width: 100%;
  }
}

@media only screen and (min-width: 960px) {
  .mapSize {
    height: 80vh;
    max-width: 100%;
  }
}
